MARKET_DATA_TOP_N=100
MARKET_DATA_TIME_START=2013-04-28
MARKET_DATA_TIME_END=2026-03-25
MARKET_DATA_VS_CURRENCY=usd
MARKET_DATA_HTTP_TIMEOUT_SECONDS=30
COINGECKO_API_KEY=CG-j9sW9ST5HgopBpo3r6LWHiGo
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
COINGECKO_REQUEST_DELAY_MS=2500
BINANCE_ENABLED=true
BINANCE_BASE_URL=https://api.binance.com
BINANCE_REQUEST_DELAY_MS=150
BINANCE_INTERVAL=1d
BINANCE_QUOTE_ASSET=USDT
POSTGRES_DSN=postgres://admin:admin@localhost:5432/coins?sslmode=disable
